<section class="filter-container">
    <% characters.forEach(element=> { %>
        <% if (element.role === "Dios destructor") { %>
            <div class="destructorGod-border"> 
                <div class="destructorGod-into">
                    <img src="<%- element.imageUrl %> " alt="">
                </div>
                
            </div>
            <% } %>
                <% }) %>
</section>