<div class="triangulo">
    <div class="base">
        <div class="circle"></div>
    </div>
    <div class="base">
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="base">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="base">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>