.char-detail-container{
    background: linear-gradient(0deg, rgba(229,115,4,1) 0%, rgba(0,0,0,1) 75%);
  margin: 10px auto;
  width: 300px;
  max-width: 500px;
  height: 400px;
  border-radius: 10px;
  /* padding: 40px 1em; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.char-detail-container .modal-btn { 
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
}
  
.char-detail-container .modal-btn img {
width: 100%;
  }
  
.char-detail-container .char-detail-title {
    margin: 10px;
    background-color: #E57304;
    width: 50%;
    clip-path: polygon(5% 0%, 95% 0%, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0% 80%, 0% 20%);
    font-size: 1.5rem;
    text-align: center;
}
  
.char-detail-image-container {
    /* display: flex; */
    background-image: url(/images/backgrounds/modal-bg-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 65%;
    margin: 0 auto;
    background-position: center;
    position:relative
  }

.char-detail-image-container img {
    height: inherit;
    margin-top: 20%;
  }
  
.char-detail-info {
    background: #000;
    height: 30%; 
    width: 100%;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 10px 0;
  }
  
.char-detail-info .char-detail-info-title {
    text-align: center;
    font-size: 2.5rem;
    color: linear-gradient(0deg, rgba(229,115,4,1) 0%, rgba(0,0,0,1) 100%);
    color: #E57304;
  }

  .char-detail-info .info span{
color: #E57304;
font-weight: bold;
  }