
  <%- include('./partials/head.ejs') %>

<body>
  <header class="header">
    <%- include('./partials/nav.ejs') %>
  </header>

  <main class="main-index">
 
<img src="/images/backgrounds/bg-index-1.svg" alt="" usemap="#mapa">

<map name="mapa">
  <area target="" alt="" title="" href="/personajes/universo/1" coords="160,52,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/2" coords="180,57,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/3" coords="127,71,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/4" coords="121,91,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/5" coords="194,72,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/6" coords="180,124,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/7" coords="141,58,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/8" coords="126,109,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/9" coords="199,91,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/10" coords="194,111,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/11" coords="141,124,9" shape="circle">
  <area target="" alt="" title="" href="/personajes/universo/12" coords="161,130,9" shape="circle">
</map>


  <script src="/js/nav.js"></script>
</body>
   
</html>